/*-----------------------------------------------------------------------------------*/
/*	overide
/*-----------------------------------------------------------------------------------*/
.white{
    color: #FFF;
}

.center{
text-align: center;
}

.titleh{
    color:white;
	font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px #050404;
}

.about-title{
    color:white;
    padding-top: -20px;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-title-widget{
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;

}
.about-content{
font-size: 16px;
}

.s-month{
    padding-left: 4px;
    padding-right: 4px;
}

/*--------director---------*/
.director{
    width: 100%;
    margin:auto;
    padding-top: 50px;
    text-align: center;
    
    }
    .dir-col{
     flex-basis:100% ;
    border-radius: 10px;
    
    text-align: left;
    background: #fff3f3;
    padding: 10px;
    cursor:pointer;
    display:flex;
    }
    .dir-col img{
    height:350px;
    margin-left: 10px;
    margin-right:35px;
    border-radius: 1%;}
    .dir-col p{
      padding:0;
    }
    .dir-col h3{
      margin-top:15px;
      text-align:left;
    }




    